.gallery-group.group-0::before {
  background-image: url("/textures/gallerycards/img_gallery_card_vertical_01.png");
  bottom: -95%;
}

.gallery-group.group-1::before {
  background-image: url("/textures/gallerycards/img_gallerys1_magazine_01.png");
  bottom: -110%;
}

.gallery-group.group-2::before {
  background-image: url("/textures/gallerycards/img_gallerys2_magazine_01.png");
  bottom: -140%;
}

.gallery-group.group-3::before {
  background-image: url("/textures/gallerycards/img_gallerys3_magazine_01.png");
  bottom: -50%;
}
.gallery-group.group-4::before {
  background-image: url("/textures/gallerycards/img_gallerys4_magazine_01.png");
  bottom: -80%;
}

.gallery-group.group-5::before {
  background-image: url("/textures/gallerycards/img_gallerys5_magazine_01.png");
  bottom: -320%;
}

.gallery-group.group-6::before {
  background-image: url("/textures/gallerycards/img_gallerys6_magazine_01.png");
  bottom: -20%;
}

.gallery-group.group-7::before {
  background-image: url("/textures/gallerycards/img_gallerys7_magazine_01.png");
  bottom: -20%;
}

.gallery-group.group--1::before {
  background-image: url("/textures/gallerycards/img_gallery_card_vertical_02.png");
  top: -265%;
}

.gallery-group.group--2::before {
  background-image: url("/textures/gallerycards/img_gallery_card_vertical_04.png");
  bottom: 0%;
}

.gallery-group.group--3::before {
  background-image: url("/textures/gallerycards/img_gallerys1_card_horizontal_08.png");
  bottom: -100%;
}

.gallery-group.group--4::before {
  background-image: url("/textures/gallerycards/img_gallery_magazine_hellfire1.png");
  bottom: -30%;
}

.gallery-group.group--5::before {
  background-image: url("/textures/gallerycards/img_gallery_card_25summer01.png");
  bottom: -90%;
}
.gallery-group.group--6::before {
  background-image: url("/textures/gallerycards/img_gallery_card_25halloween.png");
  bottom: -90%;
}
.gallery-group.group--7::before {
  background-image: url("/textures/gallerycards/img_gallery_card_tercentenary1.png");
  bottom: -20%;
}
.gallery-group.group--8::before {
  background-image: url("/textures/gallerycards/img_gallery_card_25winter.png");
  bottom: -20%;
}
